@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon3d65.eot?a8d3tv');
  src:  url('../fonts/icomoon3d65.eot?a8d3tv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon3d65.ttf?a8d3tv') format('truetype'),
    url('../fonts/icomoon3d65.woff?a8d3tv') format('woff'),
    url('../fonts/icomoon3d65.svg?a8d3tv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
